*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

.attribution { margin-top: 20px; font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

body{
    height: 100vh;
    background-image: linear-gradient(0deg, hsl(240, 73%, 65%), hsl(273, 75%, 66%));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

a, a:hover{
    text-decoration: none;
    color: hsl(237, 12%, 33%);
    font-size: 13px;
}

.img, .bg-img{
    margin: 0 auto;
    position: absolute;
    
}

.img{
    top: -9em;
}

.bg-img{
    top: auto;
    left: 2.5em;
    
}

.questions{
    padding: 2em 1.5em;
}

.answer{
    color: hsl(240, 6%, 50%);
    display: none;
    pointer-events: none;
}

.container{
    background-color: rgb(238, 237, 237);
    display: flex;
    flex-direction: column;
    width: 27em;
    border-radius: 20px;
    border: none;
    font-size: 12px;
    position: relative;
}


.header-text{
    font-size: 32px;
    text-align: center;
    margin-top: 3.5em;
    margin-bottom: 1em;
    font-weight: 700;
}

.answer.active{
    display: block;
    padding-top: 1em;
    opacity: 1;
}

.question.active{
    font-weight: 700;
}

.arrow-down{
    position: absolute;
    right: 1.5em;
    width: 12px;
    padding-top: 3px;
}

.arrow-down.active{
    transform: rotateX(180deg);
}

hr{ 
    width: 100%;
    border: 1px solid hsl(240, 5%, 91%);
    margin: 1.2em auto;

}

.question5 > hr{
    margin-bottom: 2em;
}

.desktop-image, .desktop-bg, .box-img{
    display: none;
}


@media(min-width:700px){

    .container{
        width: 120ch;
        flex-direction: row;
    }

    .img, .bg-img{
        display: none;
    }

    .desktop-image, .desktop-bg{
        position: relative;
        display: block;
        width: 300px;
        overflow: hidden;
    }

    .box-img{
        display: inline;
        position: absolute;
        width: 100px;
        top: 19em;
        left: -4em;
    }

    .desktop-image{
        top: 10em;
        left: -4em;
    }

    .desktop-bg{
        position: absolute;
        top: 8em;
        left: -4em;
    }

    .questions{
        padding: 2em 4em;
    }

    .header-text{
        font-size: 35px;
        text-align: left;
        margin-top: 1.5em;
        margin-bottom: 1em;
        font-weight: 700;
    }

    .arrow-down, .arrow-up{
        right: 7em;
    }

    hr{ 
        width: 95%;
        margin: 1.5em 0em;
    }

}